<html>
  <head>
    <title>Boligprisindeksen</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="javascript/app.js"></script>
    <link rel="stylesheet" href="style/d3_style.css" type="text/css" media="screen" />
  </head>
  <body>
    <h1>Boligprisindeksen</h1>
    <p>
      Gjennomsnittlig kvadratmeterpris.
    </p>
    <p>
      <div id="prisgrafWrapper">
        <svg id="prisgraf" width="600" height="270" ></svg>
      </div>
      <br/>
      Kilder: Finn.no, Pöyry, Eff og NEF
    </p>
    <p>
    <a href='/auth/github'>Log inn via Github</a><br>
    <a href='/auth/facebook'>Log inn via Facebook</a><br>
    <a href='/auth/twitter'>Log inn via Twitter</a><br>
    </p>
  </body>
</html>
